<html>
  <head>
    <title>LATEX UP IN THIS HOUSE</title>
    <style>
      h1 {color:sienna;font-family: helvetica; font-size: 100px;}
      p {margin-left:20px;}
      body {background-image:url("/images/double.jpg");}
      form {width: 360px; padding: 20px; margin: 20 auto; background: #fff;border:1px dashed #000}
    </style>
  </head>
  <body style="color:#000000;">
    <div id="content">
      <div align="center">
        <h1>Let's write some LaTeX</h1>
        <p>I MADE A BUG ITS BROKEN I WILL FIX NEXT WEEK - DEVIN ON FRIDAY 15 MARCH (THE IDES)</p>
      <!--><form id="form" method="POST" enctype="multipart/form-data" action="/upload">
        <input type="file" name="file" id="file" />
        <input id="submit" type="submit" value="Upload" />
      </form>-->
      <img src="http://images02.imikimi.com/image/1RJKa-10a-1.gif?height=400&scale=max&width=400"/>
      </div>
    </div>
  </body>
</html>
